[phases.setup]
nixPkgs = ["openssl_1_1", "pkg-config"]
aptPkgs = ["libssl1.1"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npx prisma generate --schema=./prisma/schema.prisma",
  "npx prisma db push --schema=./prisma/schema.prisma --accept-data-loss",
  "npm run build"
]

[start]
cmd = "npm run start"
